body {
	background-image: url(https://elite-decor.com.ua/wp-content/uploads/2020/10/Oboi-Engblad-Co-White-Light-8973-foto.jpg);
}
.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Balsamiq Sans', cursive;
	margin: 0 auto;
	width: 400px;
}
.menu__list {
	display: flex;
	align-items: center;
}
.link {
	text-decoration: none;
}
.wrap__tab {
	min-height: 500px;
	max-width: 700px;
	background-color: #B0C4DE;
	border-radius: 10px;
	box-shadow: 5px 5px 7px #4682B4;
}
.menu__img {
	margin-top: 5px;
}
.img {
	width: 100px;
	height: 40px;
	border-radius: 5px;
	margin: 0 0 5px 0;
}
@media (max-width: 460px) {
	.wrap {
		max-width: 400px;
	}
	.img {
		width: 60px;
		height: 30px;
	}
}